<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
        body {
            font-family: serif,Georgia, 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
            background-color: rgb(160, 154, 154);
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            max-width: 800px;
            padding: 20px;
            background-color: #dbcfcf;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            text-align: center; /* Center align content */
        }
        h1 {
            color: #333;
        }
        a {
            color: #182736;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .login-link,
        .signup-link {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            border: 2px solid #333;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
            width: 150px; /* Set width for the buttons */
        }
        .login-link:hover,
        .signup-link:hover {
            background-color: #333;
            color: #fff;
        }
        p {
            margin-top: 20px; /* Add margin to the paragraph */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Blog</h1>
        <p>This is a simple blog website. Please login to access more features.</p>
        <a href="/login" class="login-link">Login</a>
        <p>Don't have an account? Sign up here</p>
        <a href="/signup" class="signup-link">Sign up</a>
    </div>
</body>
</html>
