<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(160, 154, 154);
            margin: 0;
            padding: 20px;
            color: #333; 
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #dbcfcf;
            border-radius: 8px;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
        }
        
        h1, h2 {
            text-align: center;
            color: black; 
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        li {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
            padding: 20px;
            margin-bottom: 20px;
            border: 2px solid #333;
            border-radius: 5px;
        }
        
        a {
            display: inline-block;
            padding: 8px 16px;
            border: 2px solid #333; 
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            text-decoration: none;
            background-color: #fff;
            color: black;
        }
        
        a:hover {
            background-color: #333;
            color: #fff;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Current Authors</h1>
        <ul>
            <% authors.forEach(author => { %>
                <li><%= author.username %></li>
            <% }); %>
        </ul>
        <a href="<%= session.user.role === 'admin' ? '/admin' : '/author' %>">Back to Home</a>
        <a href="/deleteauthor">Delete Author</a>
    </div>
</body>
</html>
